div[data-reach-dialog-overlay] {
  z-index: 1;
}

div[data-reach-slider-track] {
  background-color: #333;
}

div[data-reach-slider-range] {
  background-color: limegreen;
}

div[data-reach-slider-handle] {
  background-color: #888;
  box-shadow: 0 0.16em 0 0 #333;
  border-radius: 0.3em;
  width: 1.4em;

  &:hover {
    cursor: grab;
  }

  &[aria-orientation="horizontal"] {
    top: calc(50% - 0.1em);
  }
}

div[data-reach-dialog-content] {
  width: calc(100vw - 2em);
  margin: 1em auto;
  background: white;
  padding: 2rem;
  outline: none;
  max-widtH: 40em;
}

.controls__modifiers {
  label:focus-within {
    outline: 1px dotted limegreen;
  }
}

span[data-reach-custom-checkbox-container] {
  border: 0.2em solid black;
  margin-left: 0.3em;

  &:focus-within {
    box-shadow: none;
  }

  &[data-state="checked"] {
    background-color: limegreen;
  }
}
