:root {
  font-size: 62.5%;
}

html {
  background-color: black;
  box-sizing: border-box;
}

*,
*:before,
:after {
  box-sizing: inherit;
}

body {
  background-color: #222;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.button {
  appearance: none;
  background: #ccc;
  border: none;
  border-radius: 0.4em;
  box-shadow: 0 0.23em 0 #555;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  top: 0;
  transition: top 50ms ease-in-out, box-shadow 50ms ease;

  &:hover,
  &:focus {
    outline: 1px solid #666;
  }

  &:active {
    top: 0.2em;
    box-shadow: 0 0 0 #000;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  &[disabled]:hover,
  &[disabled]:focus {
    outline: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  user-select: none;

  > div {
    border: 1px solid #333;
    display: grid;
    margin: auto;
  }
}

.cell {
  border: 0;
  display: block;
  padding: 0;
  text-align: center;

  &.dead {
    box-shadow: inset 0 0 0 1px #333;
  }

  &.alive {
    box-shadow: none;
  }

  &:focus {
    outline: 1px dotted white;
    z-index: 1;
  }

  &:hover {
    cursor: none;
    outline: 2px dotted white;
    z-index: 1;
  }
}

.panel {
  background: white;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 1rem;
  
  h1 {
    margin: 0;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.stats {
  background-color: #000;
  color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0.3em 0.5em;


  display: flex;
  flex-direction: column;
  gap: 1em;

  > div {
    display: flex;
    justify-content: space-between;
  }
}

.controls {
  display: flex;
  gap: 0.4em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  &__state {
    display: flex;
    flex-direction: column;

    li {
      &:not(:last-child) {
        margin-bottom: 0.4em;
      }
    }

    button {
      width: 100%;
    }
  }

  &__life {
    position: relative;

    button {
      position: absolute;
      bottom: 0;
      top: 0;
      width: 10rem;
    }

    .button {
      justify-content: center;
      background-color: green;
      color: white;
      display: flex;
      flex-direction: column;

      &.button-on {
        background-color: lime;
        box-shadow: 0 0.23em 0 #555,
          0 0 1rem 0 lime;
        text-shadow: 0 0 0.2em #131;
      }

      span:first-child {
        font-size: 2em;
      }
    }
  }
}

.stepper {
  min-width: 10em;

  &__label {
    text-align: center;
  }
}

.examples {
  ul {
    list-style-type: none;
    max-height: 10.2em;
    overflow: auto;
    padding: 0 0.3em 0 0;
  }

  li:not(:last-child) {
    letter-spacing: 0.1em;
    margin-bottom: 0.2em;
  }

  button {
    width: 100%;
  }

  small {
    font-size: 0.4em;
  }
}

.footer {
  padding: 0.5em;

  a {
    color: #fff;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 0.3s;
  }

  a:hover {
    opacity: 1;
  }

  svg {
    vertical-align: text-bottom;
    margin-right: 0.5em;
    width: 1em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  li:not(:last-child):after {
    content: "|";
    padding: 0 0.5em;
  }

  @media only screen and (min-width: 768px) {
    bottom: 0;
    position: absolute;
  }
}

div[data-reach-dialog-overlay] {
  z-index: 1;
}
