:root {
  font-size: 62.5%;
}

html {
  background-color: black;
  box-sizing: border-box;
}

*,
*:before,
:after {
  box-sizing: inherit;
}

body {
  background-color: #222;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.button {
  appearance: none;
  background: #ccc;
  border: none;
  border-radius: 0.4em;
  box-shadow:
    0 0.3em 0 rgb(133, 133, 133),
    0 0.5em 0 #555,
    0.1em 0.5em 0 #555,
    -0.1em 0.5em 0 #555,
    0.22em 0.5em 0 rgb(180, 180, 180),
    -0.2em 0.5em 0 rgb(180, 180, 180);
  color: #444;
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  top: 0;
  transition: top 50ms ease-in-out, box-shadow 50ms ease;
  font-variant: small-caps;
  text-transform: lowercase;

  &:hover,
  &:focus {
    outline: none;
    box-shadow:
      inset 0 0 0 0.11em #444,
      0 0.3em 0 rgb(133, 133, 133),
      0 0.5em 0 #555,
      0.1em 0.5em 0 #555,
      -0.1em 0.5em 0 #555,
      0.22em 0.5em 0 rgb(180, 180, 180),
      -0.2em 0.5em 0 rgb(180, 180, 180);
  }

  &:active {
    top: 0.5em;
    box-shadow:
      -0.1em 0.1em 0 #555,
      0 0.1em 0 #555,
      0.1em 0.1em 0 #555;
  }

  &[disabled] {
    cursor: default;
  }

  &[disabled]:hover,
  &[disabled]:focus {
    outline: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  user-select: none;

  > div {
    border: 1px solid #333;
    display: grid;
    margin: auto;
  }
}

.cell {
  border: 0;
  display: block;
  padding: 0;
  text-align: center;

  &.dead {
    box-shadow: inset 0 0 0 1px #333;
  }

  &.alive {
    box-shadow: none;
  }

  &:focus {
    outline: 1px dotted white;
    z-index: 1;
  }

  &:hover {
    cursor: crosshair;
    outline: 2px dashed white;
    z-index: 1;
  }
}

.panel {
  background: white;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 2rem;
}

.header {
  h1 {
    font-size: 2em;
    margin: 0;
  }

  svg {
    margin-bottom: 0.4em;
  }

  button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;

    &:hover {
      color: limegreen;
    
      .logo g path {
        fill: limegreen;
      }
    }

    span {
      font-size: 0.5em;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.controls {
  display: flex;
  gap: 1em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.7em;
  }

  &__state {
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  &__game {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__life {
    display: flex;
    gap: 1em;

    button {
      padding: 0 1em;
      width: 100%;
    }

    button.button {
      align-items: center;
      display: flex;
      gap: 1em;
      justify-content: center;
      padding: 1em;

      > span {
        display: flex;
        flex-direction: column;
      }

      &.playing {
        > span:first-child {
          color: #0a0;
          text-shadow:
            0 0 0.5em lime,
            0 0.1em 0 lime,
            0 -0.1em 0 lime,
            0.1em 0 0 lime,
            -0.1em 0 0 lime;
        }
      }

      &.paused {
        > span:last-child {
          color: #0a0;
          text-shadow:
            0 0.1em 0 lime,
            0 -0.1em 0 lime,
            0.1em 0 0 lime,
            -0.1em 0 0 lime;
        }
      }
    }
  }

  &__modifiers {
    display: flex;
    gap: 1em;

    > div {
      display: flex;
      gap: 0.2em;
    }
  }
}

.stepper {
  min-width: 10em;

  &__label {
    font-size: 1.4rem;
    margin-bottom: 0.4em;
    text-align: center;
  }
}

.zoom-controls {
  background-color: #fff;
  bottom: 1em;
  padding: 1em;
  position: absolute;
  right: 2em;
}

.dialog {
  &__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2em;

    button {
      text-align: center;
      max-width: fit-content;
    }
  }
}

.load {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    li {
      display: flex;
      justify-content: space-between;
      gap: 2em;

      &:hover {
        background-color: #eee;
      }
    }

    &:last-child {
      max-height: 40vh;
      overflow-y: auto;
    }
  }

  button {
    &:first-child {
      flex-grow: 1;
      text-align: left;
    }
  }
}

.save {
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}