html {
    background-color: black;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body,
#life {
    height: 100%;
    width: 100%;
}

.life {
    height: 100%;
    width: 100%;
}

.grid {
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    margin: 0 auto;
}

.grid i {
    display: block;
    outline: 1px solid black;
    position: absolute;
    text-align: center;
}

.grid i:hover {
    cursor: none;
    outline: 2px dotted white;
    z-index: 1;
}

.info,
.controls {
    background-color: rgba(32, 0, 0, 0.3);
    position: fixed;
    width: 100%;
}

.controls {
    bottom: 0;
}

.controls li {
    float: left;
    list-style: none;
}

.info {
    top: 0;
}