html {
    background-color: black;
}

html,
body,
#life {
    height: 100%;
    width: 100%;
}

#life {
    align-items: center;
    display: flex;
    justify-content: center;
}

.Plane {
    border: 1px solid white;
}

.cell {
    outline: 1px dotted black;
    position: absolute;
    text-align: center;
}